<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
     {{>navbar}}









     {{!-- //after crousel from bootstrap --}}
     <div class="container my-4 mx-30">
    <div class="row">
      <div class="col-lg-4">
         <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://tse2.mm.bing.net/th?id=OIP.-US8o8-wje8XkOaUWh_IfAHaHa&pid=Api&P=0&h=180"/>
        <h2 class="fw-normal">Node.js</h2>
        <p>As an asynchronous event-driven JavaScript runtime, Node.js is designed to build scalable network applications</p>
        <p><a class="btn btn-secondary" href="https://nodejs.dev/en/learn/">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://tse1.mm.bing.net/th?id=OIP.1ji9NLQl3sOXktSoEYnt3wHaHa&pid=Api&P=0&h=180"/>
        <h2 class="fw-normal">Express.js</h2>
        <p>Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>
        <p><a class="btn btn-secondary" href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
       <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://tse3.mm.bing.net/th?id=OIP.reQWyeftyi6xOSAC6CHu9wHaHB&pid=Api&P=0&h=180"/>
        <h2 class="fw-normal">Mongodb</h2>
        <p>MongoDB is a document database with the scalability and flexibility that you want with the querying and indexing that you need.</p>
        <p><a class="btn btn-secondary" href="https://www.mongodb.com/what-is-mongodb">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div>
    </div>



<footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>© 2022–2023 iCoder, Inc. ·
        <a href="#">Privacy</a>
        ·
        <a href="#">Terms</a></p>
    </footer>

    
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>